.hero-impecable {
    background-image: url('../images/Logo/ChatGPT Impecable solo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 650px auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-content {
    text-align: center;
    margin-top: 240px;
}

.hero-content .subheading {
    color: #444;
    margin-bottom: 15px;
    font-size: 16px;
}

.hero-texto {
    font-size: 16px;
    color: #666;
}

.navbar-brand img {
    height: 90px;
    /* ajustá el tamaño */
    width: auto;
}

.ftco-navbar-light {
    background: rgba(0, 0, 0, 0.6) !important;
}

.email-link {
    display: flex !important;
    align-items: center !important;
    gap: 8px !important;
}